*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ececec;
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    overscroll-behavior-y: none;

    background-color: #fff;
    display: flex;
}

/* GENERAL ELEMENTS */
.btn {
    display: inline-block;
    background-color: #5ec576;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 500;
    border: none;
    padding: 1.25rem 4.5rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #4bbb7d;
}

button:focus {
    outline: none;
}

/* SIDEBAR */
.sidebar {
    flex-basis: 50rem;
    background-color: #2d3439;
    padding: 3rem 5rem 4rem 5rem;
    display: flex;
    flex-direction: column;
}

.reserves {
    list-style: none;
    height: 77vh;
    overflow-y: scroll; 
    overflow-x: hidden;
}

.reserves::-webkit-scrollbar {
    width: 0;
}

.reserve {
    background-color: #42484d;
    border-radius: 5px;
    padding: 1.5rem 2.25rem;
    margin-bottom: 1.75rem;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
}

.reserved--active {
    border-left: 5px solid #00c46a;
}

.reserved--waiting {
    border-left: 5px solid #ffb545;
}


.reserve__title {
    font-size: 1.7rem;
    font-weight: 600;
    grid-column: 1 / -1;
}

.reserve__details {
    display: flex;
    align-items: baseline;
}

.reserve__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
}

.reserve__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.reserve__unit {
    font-size: 1.1rem;
    color: #aaa;
    text-transform: uppercase;
    font-weight: 800;
}


/* BLOCKS CONTAINER */

#main {
    flex: 1;
    height: 100%;
    background-color: #aaa;
    margin-left: 3px;
}

.container__primary {


}

.container__secondary {


}

.container__tertiary {

}

/* BOOKING FORM */

.modal {
    /* color: #444; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60rem;
    /* background-color: #f3f3f3; */
    background-color: #42484d;
    padding: 5rem 6rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.modal__header {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
    line-height: 1.5;
}

.modal__form {
    margin: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 2.5rem;
}

.modal__form--label {
    font-size: 1.7rem;
    font-weight: 500;
}

/* .modal__form input */
.modal__form--input {
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;  
    background-color: rgb(214, 222, 224);
    transition: all 0.5s, transform 1ms;
}

/* .form__input:focus {
    outline: none;
    background-color: #fff;
} */

/* .modal__form button */
.modal__form--btn {
    grid-column: 1 / span 2;
    justify-self: center;
    margin-top: 1rem;
}


.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
}



.hidden {
    visibility: hidden;
    opacity: 0;
} 